:root {
  --Dark: #000;
  --White: #ffffff;
  --Cyan: #00dae1;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background:var(--Dark);
  font-family: 'Cinzel', serif;
}

.head-contac {
  color: var(--Cyan);
  display: block;
  font-size: 1.5rem;
}

.head-log a {
  color: var(--Cyan);
  text-decoration: none;
  font-size: 1.5rem;
}
/* -----------------------------------------------------------------Lenguague ---------------------------------------------------------------- */
.lenguage {
  background: black;
  text-align: end;
}

.en {
  color: white;
}

.esp {
  color: #00a1ff;
}

.check {
  position: relative;
  width: 50px;
}

.check::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 25px;
  background: white;
  border-radius: 25px;
}

.check::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 25px;
  transition: 0.25s;
  border: 2px solid #333;
  box-sizing: border-box;
}

.check:checked::after {
  left: 25px;
  border: 2px solid #00a1ff;
}

.check:checked::before {
  background: #00a1ff;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------*/